

.accordions-wide {
	padding: 0 20px;
}


.accordion {
	padding: 30px 0 6px;
	
	.accordion-box {

		.accordion-box-title {
			position: relative;
			background-size: cover;
			cursor: pointer;
			padding: 10px 40px 15px 15px;
			
			@include respond-to( 768px ) {
				padding: 15px 60px 25px 15px;
			}

			h4 {
				@include font-medium;
				font-size: 18px;
				line-height: 22px;
				font-style: normal;
				color: white;
				text-transform: uppercase;
				padding: 10px 10px 5px;
				border-bottom: 4px solid white;

				&:before {
					position: absolute;
					right: 10px;
					bottom: 10px;
					width: 40px;
					height: 40px;
					content: '';
					background: url(../img/icon-accordion-arrow.png) center center no-repeat;
					background-size: contain;
					transition: transform 600ms ease-in-out;

					@include respond-to( 768px ) {
						width: 60px;
						height: 60px;
						bottom: 10px;
					}
				}
			}

			&.open h4:before {
				transform: rotate(180deg);
			}

		}

		.accordion-box-content {
			@extend .content-style;
			display: none;
			padding: 20px;
		
			.wrap {
				max-width: 1180px;
			}
		}

		&.open {
			.accordion-box-content {
				display: block;
			}
		}
	}



	.accordion-box {
		margin-top: 6px;

		&.bg-teal .accordion-box-content, &.bg-teal-light .accordion-box-content, &.bg-teal-lighter .accordion-box-content, &.bg-teal-lightest .accordion-box-content { background-color: lighten( $teal, 55% ); }
		&.bg-navy .accordion-box-content, &.bg-navy-light .accordion-box-content { background-color: lighten( $navy, 65% ); }
		&.bg-lime .accordion-box-content, &.bg-lime-light .accordion-box-content { background-color: lighten( $lime, 50% ); }
		&.bg-forest .accordion-box-content, &.bg-forest-light .accordion-box-content { background-color: lighten( $forest, 45% ); }
		&.bg-orange .accordion-box-content, &.bg-orange-light .accordion-box-content { background-color: lighten( $orange, 30% ); }
		&.bg-grey-light .accordion-box-content, &.bg-grey-dark .accordion-box-content, &.bg-grey-light-light .accordion-box-content, &.bg-grey-dark-light .accordion-box-content { background-color: lighten( $grey, 30% ); }
	}
}

