

body {
	margin: 0;
	@include font;
	font-size: 16px;
	line-height: 22px;
	color: $grey-dark;
}

h1, h2, h3, h4, h5, h6 {
	@include font-title;
	line-height: 1.2em;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.1em;
}

h3 {
	font-size: 1.9em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.1em;
}

p {
	padding: 8px 0;
}

strong {
	@include font-bold;
}

em {
	@include font-italic;
}

strong em, em strong, h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
	@include font-bold-italic;
}

a {
	color: $navy;
	text-decoration: none;
	transition: opacity 400ms ease-in-out;

	&:hover {
		text-decoration: underline;
	}
}

input, textarea {
	@include font;
}


.content-style {
	ol, ul {
		padding: 5px 0 5px 35px;

		li {
			padding: 3px 0;
		}

		&.gform_fields {
			padding: 5px 0;
		}
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	h1, h2, h3, h4, h5, h6 {
		padding: 10px 0 5px;
	}

	blockquote {
		padding: 10px 25px;
		@include font-italic;
		font-size: 1.2em;
		line-height: 1.5em;
		color: $grey;
		border-left: 3px solid lighten( $grey, 25% );
		margin: 10px 0 10px 20px;
	}

	hr {
		border: 0;
		border-bottom: 1px solid lighten( $grey, 25% );
		padding: 0;
		margin: 25px 0;
	}

	button, input[type=submit], input[type=reset] {
		padding: 9px 45px 6px 12px;
		background: $forest url(../img/icon-button-arrow.png) right center no-repeat;
		color: white;
		@include font-bold;
		border: 3px solid white;
		box-shadow: 4px 4px 10px lighten( $grey, 15% );
		border-radius: 10px;
	}
}


h1, h2, h3, h4, h5, h6 {
	color: $navy;

	.teal & { color: $teal; }
	.forest & { color: $forest; }
	.green & { color: $green; }
	.orange & { color: $orange; }
	.grey &, .grey-light & { color: $grey; }
	.lime & { color: $lime; }
	.navy & { color: $navy; }
	.red & { color: $red; }
	.yellow & { color: $yellow; }
}


