

body {
	margin: 0;
	@include font;
	font-size: 16px;
	line-height: 22px;
	color: $grey-dark;
}

h1, h2, h3, h4, h5, h6 {
	@include font-title;
	line-height: 1.2em;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 1.9em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.1em;
}

p {
	padding: 8px 0;
}

strong {
	font-weight: bold;
}

a {
	color: $navy;
	text-decoration: none;
	transition: opacity 400ms ease-in-out;

	&:hover {
		text-decoration: underline;
	}
}

input, textarea {
	@include font;
}
