

// content box styles
.box {
	padding: 20px;

	@include respond-to( $bp-s ) {
		padding: 20px 30px;
	}

	@include respond-to( $bp-l ) {
		padding: 30px 40px;
	}

	&.odd {
		background: $grey-light;
		
		@include respond-to( 1024px ) {
			position: relative;
			
			&:before {
				content: '';
				position: absolute;
				left: -1000px;
				top: 0;
				bottom: 0;
				right: 100%;
				background: $grey-light;
			}
		}
	}
}
