
.bg-lime { background-color: $lime; }
.bg-lime-light { background-color: lighten( $lime, 7.5% ); }
.bg-forest { background-color: $forest; }
.bg-forest-light { background-color: lighten( $forest, 7.5% ); }
.bg-grey-light { background-color: $grey; }
.bg-grey-light-light { background-color: lighten( $grey, 7.5% ); }
.bg-grey-dark { background-color: darken( $grey, 30% ); }
.bg-grey-dark-light { background-color: lighten( darken( $grey, 30% ), 7.5% ); }

.text-lime { color: $lime; }
.text-forest { color: $forest; }
.text-grey-light { color: $grey; }
.text-grey-dark { color: darken( $grey, 30% ); }

