
.wrap {
	max-width: 1220px;
	margin: 0 auto;
}

.content-narrow {
	@include clearfix;

	padding: 40px 20px;
	max-width: 900px;
	margin: 0 auto;
}

.content-wide {
	@include clearfix;

	padding: 40px 20px;
}

.content-two-column {
	@include clearfix;

	@include respond-to( 768px ) {
		padding: 30px 0;
	}
}

.fluid-width-video-wrapper {
	margin: 15px 0;
}

.half, .two-third, .three-quarter {
	@extend .content-style;
}

.quarter, .third, .half, .two-third, .three-quarter {
	padding: 20px;
}

.half, .two-third, .three-quarter {
	@extend .content-style;
	padding: 20px;
}

.two-third.page {
	padding: 0;
}

@include respond-to( $bp-m ) {
	.quarter, .third, .half, .two-third, .three-quarter {
		float: left;
	}

	.half { 
		width: 48%;
		margin: 0 1%;
	}

	.quarter {
		width: 23%;
		margin: 0 1%;
	}

	.third {
		width: 31%;
		margin: 0 1%;
	}

	.two-third {
		width: 65%;
		margin: 0 1%;

		&.page {
			margin: 0 2% 0 0;
			padding: 0;
		}
	}

	.three-quarter {
		width: 73%;
		margin: 0 1%;
	}
}


img, .wp-caption {
	&.alignright {
		float: right;
		margin: 0 0 15px 15px;
	}

	&.alignleft {
		float: left;
		margin: 0 15px 15px 0;
	}

	&.aligncenter {
		display: block;
		margin: 0 auto;
	}
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}


.wp-caption {
	width: 300px !important;

	img {
		margin: 0 !important;
		float: none !important;
		display: block;
	}

	.wp-caption-text {
		clear: both;
		padding: 8px 10px;
		font-size: .85em;
		color: $grey-dark;
		background: $grey-light;
	}
}

.post-list {
	padding: 20px 0;


	.entry {
		border-top: 1px solid $grey-light;
		padding: 20px 0;

		h5 {
			@include font;
			font-size: 1em;
			line-height: 1.4em;
		}

		p {
			padding: 5px 0;
			font-size: .85em;
		}
	}
}

.quiet {
	text-style: italic;
	color: lighten( $grey, 10% );
}


.fb-page iframe {
	max-width: 100% !important;
}


