

body {
	background: url(../img/bg-body.jpg) center center;
}

.wrap {
	max-width: 1220px;
	margin: 0 auto;
}

.content-narrow {
	padding: 40px 20px;
	max-width: 900px;
	margin: 0 auto;
}

.content-wide {
	padding: 40px 20px;
}

.content-two-column {
	@include respond-to( 768px ) {
		padding: 30px 0;
	}
}

.fluid-width-video-wrapper {
	margin: 15px 0;
}

.half, .two-third, .three-quarter {
	@extend .content-style;
}

.quarter, .third, .half, .two-third, .three-quarter {
	padding: 20px;
}

.breadcrumbs {
	padding: 0 0 20px;
}

@include respond-to( 768px ) {
	.quarter, .third, .half, .two-third, .three-quarter {
		float: left;
	}

	.quarter {
		width: 23%;
		margin: 0 1%;
	}

	.third {
		width: 31%;
		margin: 0 1%;
	}

	.two-third {
		width: 65%;
		margin: 0 1%;
	}

	.three-quarter {
		width: 73%;
		margin: 0 1%;
	}
}


img {
	&.alignright {
		float: right;
		margin: 0 0 15px 15px;
	}

	&.alignleft {
		float: left;
		margin: 0 15px 15px 0;
	}

	&.aligncenter {
		display: block;
		margin: 0 auto;
	}
}

