

.month-nav {
	padding: 7px 10px;
	background: $grey;
	color: white;
	border-radius: 10px;
	text-decoration: none;
	margin-bottom: 10px;
	float: left;
	cursor: pointer;

	&.next {
		float: right;
	}

	&:hover {
		background: lighten( $grey, 5% );
	}
}



.calendar-month-title {
	text-align: center;
	font-size: 1.1em;

	@include respond-to( 600px ) {
		font-size: 1.6em;
	}

	@include respond-to( 900px ) {
		font-size: 2.2em;
	}
}


.calendar {
	border-top: 1px solid lighten( $grey, 15% );
	border-left: 1px solid lighten( $grey, 15% );
	width: 100%;

	td {
		width: 14.58%;
		padding: 4px;
		text-align: center;
		border-right: 1px solid lighten( $grey, 15% );
		border-bottom: 1px solid lighten( $grey, 15% );

		&.calendar-day-head {
			background: lighten( $grey, 20% );

			span {
				display: none;
				
				@include respond-to( 768px ) {
					display: inline;
				}
			}
		}

		&.calendar-day:hover {
			background: lighten( $grey, 30% );
		}

		.day-events {
			display: none;

			@include respond-to( 768px ) {
				display: block;
				min-height: 90px;

				.event-time, .event-description {
					display: none;
				}
			}

			a {
				@include font-bold;
				font-size: 13px;
			}
			
			.event {
				padding: 7px 0;
				border-top: 1px solid lighten( $grey, 20% );
			}

			.event-title {
				line-height: 20px;
			}

		}
	}
}


.day-event-list {
	display: block;
	padding: 20px 0;

	@include respond-to( 768px ) {
		display: none;
	}

	.event-title {
		@include font-bold;
		font-size: 1.2em;
		margin-top: 8px;
	}

	.event-time {
		@include font-italic;
		color: $grey;
	}

	.event-description {
		font-size: .85em;
		line-height: 1.4em;
	}
}



.event-info {
	padding: 0;
	@extend .content-style;
	
	@include respond-to( 768px ) {
		padding: 0 20px;
		border-left: 4px solid lighten( $grey, 25% );
	}

	label {
		@include font-bold;
	}	

	hr {
		margin: 10px 0;
	}
}



.sidebar .widget_events_widget {
	p {
		padding: 5px 10px;
		font-size: 14px;
		line-height: 22px;

		a {
			@include font-bold;
		}
	}
}


