

footer {
	background-color: $forest;
	color: white;
	padding: 20px;

	@include clearfix;

	.column {
		&.first {
			text-align: center;
		}

		@include respond-to( 768px ) {
			float: left;
			width: 30%;
			border-left: 6px solid white;
			min-height: 300px;
			padding: 15px 25px;

			&.first {
				width: 40%;
				border-left: 0;
			}
		}

		@include respond-to( 1220px ) {
			.address {
				float: left;
				width: 50%;
				padding: 20px 0;
			}
		}
	}
	
	h3 {
		@include font;
		text-transform: uppercase;
		font-size: 1.6em;
		line-height: 1.2em;
		padding-top: 20px;
		text-align: center;
		color: white;

		@include respond-to( 768px ) {
			text-align: inherit;
		}
	}

	a {
		color: white;
		text-decoration: none;
	}

	nav {
		ul {
			list-style-type: disc;
			padding: 10px 20px;
		}
	}

	.social {
		padding: 10px 0;
		text-align: center;

		img {
			max-width: 16.66%;
		}
	}

	.subscribe {
		position: relative;
		padding: 10px 0;

		input[type=text] {
			display: block;
			right: 26px;
			left: 0;
			width: 100%;
			border: 2px solid $grey;
			background: white;
			padding: 0 25px 0 15px;
			font-size: 15px;
			line-height: 28px;
		}

		input[type=submit] {
			position: absolute;
			top: 50%;
			right: 10px;
			bottom: 0;
			width: 50px;
			height: 50px;
			border: 0;
			background: url(../img/icon-subscribe.png) center center no-repeat;
			text-indent: -400px;
			cursor: pointer;
			margin-top: -25px;
		}
	}
}

