


.subscribe {
	padding: 20px;
	background: $grey;
	text-align: center;
	border-bottom: 10px solid white;

	label {
		text-transform: uppercase;
		letter-spacing: 1px;
		color: white;
	}

	input[type=text] {
		width: 220px;
		display: block;
		margin: 0 auto;
		border: 2px solid $grey-dark;

		@include respond-to( $bp-s ) {
			margin: 0 0 0 5px;
			display: inline-block;
		}
	}

	input[type=submit].btn-arrow {
		background-color: $lime;
		background-image: url(../img/thumb-button-arrow-white.png);
		color: white;

		&:hover {
			background-color: lighten( $lime, 5% );
			color: white;
		}
	}
}



footer {
	background-color: $lime;
	color: white;
	padding: 20px;
	@include clearfix;
	font-size: 1em;
	line-height: 1.7em;

	@include respond-to( $bp-s ) {
		padding: 30px;
	}

	@include respond-to( $bp-l ) {
		padding: 40px;
	}

	@include respond-to( $bp-xl ) {
		padding: 40px 80px;
	}

	.column {
		padding-bottom: 20px;

		@include respond-to( 768px ) {
			float: left;
			width: 50%;
		}

		@include respond-to( 1024px ) {
			width: 55%;

			&.first {
				width: 45%;
			}
		}

		.sub-column {
			text-align: center;

			@include respond-to( 1024px ) {
				float: left;
				width: 50%;
				padding: 0 0 0 10px;
				text-align: left;

				&.first {
					padding: 0 10px 0 0;
					text-align: right;
				}
			}
		}
	}
	
	h3 {
		@include font;
		text-transform: uppercase;
		font-size: 1.6em;
		line-height: 1.2em;
		padding: 0 0 10px;
		color: white;
		text-align: center;
	}

	a {
		color: white;
		text-decoration: none;
	}

	ul {
		//list-style-type: disc;
		//padding: 0 0 0 20px;

		li {
			a {
				display: block;
			}
		}
	}

	.social {
		padding: 10px 0;
		text-align: center;

		img {
			margin-right: 3%;
		}
	}
}

