

body {
	@include respond-to( $bp-l ) {
		margin-top: 90px;
	}
}



header {
	position: relative;
	padding: 30px 0 0;
	background: $grey;
	transition: 400ms all ease-in-out;

	&:after {
		content: " ";
		position: absolute;
		bottom: -10px;
		left: 0;
		right: 0;
		height: 10px;
		background-color: white;
		transition: 400ms all ease-in-out;
	}

	@include respond-to( $bp-s ) {
		height: 140px;
	}

	@include respond-to( $bp-l ) {
		height: 80px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2000;

		body.admin-bar & {
			top: 32px;
		}
	}

	.logo {
		position: relative;
		margin: 5px 60px 10px 5px;
		text-align: center;
		background: url(../img/logo.png) center center no-repeat;
		background-size: contain;
		height: 70px;
		transition: 400ms all ease-in-out;

		a {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		@include respond-to( $bp-s ) {
			margin: 0;
			position: absolute;
			top: 5px;
			left: 10px;
			right: 52%;
			bottom: 105px;
		}

		@include respond-to( $bp-l ) {
			left: 10px;
			top: 5px;
			right: 80%;
			bottom: 0;
		}

		@include respond-to( $bp-xl ) {
			left: 20px;
		}
	}

	button {
		position: absolute;
		right: 5px;
		top: 40px;
		width: 40px;
		height: 40px;
		border: 0;
		padding: 0;
		background: white;
		color: black;
		background: url(../img/icon-menu.png) center center no-repeat;

		body.admin-bar & {
			top: 60px;
		}

		@include respond-to( $bp-s ) {
			display: none;
		}
	}

	nav {
		border-top: 1px solid rgba( white, .4 );
		transition: 400ms all ease-in-out;
		display: none;

		@include respond-to( $bp-s ) {
			display: block;
			position: absolute;
			left: 0;
			top: 80px;
			right: 0;
			bottom: 0;
		}

		@include respond-to( $bp-l ) {
			left: 22%;
			right: 20%;
			top: 0;
			border-top: 0;

			header.scrolled & {
				left: 18%;
			}
		}

		ul.nav-menu {
			background: $grey;
			z-index: 1000;
			text-align: center;
			@include clearfix;

			& > li {

				@include respond-to( $bp-s ) {
					position: relative;
					float: left;
					width: 25%;
				}

				&.current_page_item > a, &.current-page-parent > a {
					position: relative;
					padding: 22px 15px 14px;
					
					@include respond-to( $bp-s ) {
						padding: 0 18px;
					}

					&:after {
						content: ' ';
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
						height: 8px;
						background: darken( $grey, 10% );
					}
				}

				a {
					display: block;
					@include font;
					padding: 14px 15px;
					font-size: 12px;
					line-height: 15px;
					width: 100%;
					color: white;
					text-decoration: none;
					text-transform: uppercase;
					text-align: center;
					transition: 400ms all ease-in-out;

					@include respond-to( $bp-s ) {
						line-height: 60px;
						padding: 0 18px;

					}

					@include respond-to( $bp-l ) {
						line-height: 80px;
					}

					&:hover {
						background: $lime;
					}
				}

				&:hover, &.open {
					a {
						background: lighten( $grey, 5% );
					}
					
					@include respond-to( $bp-s ) {
						ul.sub-menu {
							display: block;
						}
					}
				}

				ul.sub-menu {
					display: none;
					margin-bottom: 3px;
					transition: 400ms all ease-in-out;

					@include respond-to( $bp-s ) {
						position: absolute;
						left: 0;
						top: 59px;
						right: 0;
						//width: 260px;
						z-index: 10;
						@include clearfix;
					}

					@include respond-to( $bp-l ) {
						top: 80px;
					}

					li {
						position: relative;

						@include respond-to( 600px ) {
							float: none;
							display: block;
							width: auto;
						}

						&.current_page_item > a {
							border-left: 8px solid darken( $grey, 10% );
							padding-left: 7px;

							@include respond-to( $bp-s ) {
								padding-left: 10px;
							}
						}

						&.menu-item-has-children > a {
							&:before {
								content: '>';
								position: absolute;
								right: 3px;
								top: 50%;
								margin-top: -8px;
								height: 10px;
								width: 10px;
								transform: scale( .6, 1.5 );
							}
						}

						a {
							padding: 7px 15px;
							display: block;
							height: auto;
							width: 100%;
							line-height: 1.2em;
							text-align: center;
							opacity: .95;
							transition: 300ms all ease-in-out;
							background: lighten( $grey, 5% );

							@include respond-to( $bp-s ) {
								padding: 10px 18px;
								text-align: left;

								&:hover {
									background: darken( $grey, 10% );
									opacity: 1;
								}
							}

						}

						ul.sub-menu {
							display: none;

							@include respond-to( $bp-s ) {
								left: 100%;
								top: 0;
								width: 100%;
								border-left: 1px solid lighten( $grey, 15% );
							}
						}

						&:hover, &.open {
							@include respond-to( $bp-s ) {
								ul.sub-menu {
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}

	.search {
		position: relative;
		padding: 10px;
		background: $lime;
		transition: 400ms all ease-in-out;

		@include respond-to( $bp-s ) {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 60px;
			left: 50%;
			padding: 20px 10px;
		}

		@include respond-to( $bp-l ) {
			padding: 20px 15px;
			left: 80%;
			bottom: 0;
		}

		form {
			margin: 0;
		}

		input[type=text] {
			display: block;
			width: 100%;
			border: 2px solid $grey;
			border-left: 0;
			border-right: 0;
			background: white;
			padding: 5px 25px 0 15px;
			font-size: 12px;
			line-height: 30px;
			text-transform: uppercase;

			@include respond-to( 768px ) {
				border: 2px solid $grey;
			}
		}

		input[type=submit] {
			position: absolute;
			top: 50%;
			right: 10px;
			bottom: 0;
			width: 50px;
			height: 50px;
			border: 0;
			background: url(../img/icon-small-search.png) center center no-repeat;
			text-indent: -400px;
			cursor: pointer;
			margin-top: -25px;
		}
	}

	&.scrolled {
		@include respond-to( $bp-l ) {
			height: 60px;

			&:after {
				height: 5px;
				bottom: -5px;
			}

			.logo {
				height: 50px;
				right: 85%;
			}

			nav {
				left: 17%;

				ul.nav-menu {
					& > li {
						a {
							line-height: 60px;
						}

						ul.sub-menu {
							top: 60px;
						}
					}
				}
			}

			.search {
				padding: 10px 15px;
			}
		}
	}
}


