
@import "../lib/mathsass/dist/math";

// responsive mixin
@mixin respond-to( $breakpoint ) {
    @media only screen and (min-width: $breakpoint) { @content; }
}


// Clearfix mixin
@mixin clearfix {
	zoom: 1;

	&:before, &:after { 
		content: ""; 
		display: table;
	}

	&, &:before, &:after { clear: both; }
}


.clearfix, .group {
	@include clearfix;
}


@mixin wrap( $max-width ) {
	max-width: $max-width;
	margin: 0 auto;
}


@mixin wrap-main {
	@include wrap( 1220px );
}

