

.partner-showcase {
	position: relative;
	padding: 20px 50px;
	background: lighten( $grey, 38% );
	border-bottom: 10px solid white;

	.partner-list {
		overflow: hidden;
		white-space: nowrap;
		transition: text-indent 700ms ease-in-out;
		
		img {
			display: inline-block;
			width: 100%;
			transition: all 400ms ease-in-out;
			opacity: 1;				
			
			&:hover {
				opacity: .9;
			}

			@include respond-to( 480px ) {
				width: 50%;
			}

			@include respond-to( $bp-s ) {
				width: 33.33%;
			}

			@include respond-to( $bp-l ) {
				width: 25%;
			}

			@include respond-to( $bp-xl ) {
				width: 20%;
			}
		}
	}

	button.partner-nav {
		display: block;
		background: white;
		position: absolute;
		bottom: 0;
		top: 0;
		width: 40px;
		text-indent: -500px;
		overflow: hidden;
		border: 0;
		cursor: pointer;

		&:disabled {
			opacity: .5;
			cursor: default;
		}

		&.unnecessary {
			display: none;
		}
	
		&:focus {
			outline: 0;
		}

		&.previous {
			left: 0;
			background: url(../img/icon-arrow-left.png) center center no-repeat;
		}

		&.next {
			right: 0;
			background: url(../img/icon-arrow-right.png) center center no-repeat;
		}
	}
}

