

.shades {
	@include clearfix;
	padding: 0 20px 30px;
	
	.shade {
		margin-bottom: 20px;
		background: lighten( $grey, 30% );

		h5 {
			@include font;
			font-size: 1.1em;
			text-transform: uppercase;
			color: white;
			background: $forest;
			padding: 15px 0;
			text-align: center;
		}

		.shade-inner {
			padding: 20px;
			background: url(../img/bg-shade.png) center center no-repeat;
			background-size: cover;

			img {
				margin: 10px auto;
				display: block;
			}

			@include respond-to( $bp-s ) {
				min-height: 250px;
			}

			p {
				padding: 10px 0;
				color: $grey;
				text-align: center;

				@include respond-to( $bp-xl ) {
					font-size: 1em;
				}
			}
		}

		@include respond-to( $bp-s ) {
			float: left;
			width: 46%;
			margin: 10px 2%;
		}

		@include respond-to( $bp-m ) {
			width: 31%;
			margin: 10px 1%;
		}

		@include respond-to( $bp-l ) {
			width: 23%;
			margin: 10px 1%;
		}

		@include respond-to( $bp-xl ) {
			width: 18%;
			margin: 10px 1%;
		}
	}
}

