

.showcase {
	position: relative;
	overflow: hidden;
	background: $grey;
	height: 0;
	transition: height 400ms ease-in-out;
	z-index: 0;
	border-bottom: 10px solid $lime;

	@include respond-to( 768px ) {
		border-bottom: 0;
	}

	.slide {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		opacity: 0;
		transition: 800ms opacity ease-in-out;
		pointer-events: none;

		&.visible {
			opacity: 1;
			z-index: 0;
			pointer-events: auto;

			.slide-content {
				bottom: 0;

				@include respond-to( 768px ) {
					left: 0;
					bottom: 10%;
				}
			}
		}
		
		a {
			display: block;
		}
		
		img {
			width: 100%;
			display: block;

			&.small {
				@include respond-to( 768px ) {
					display: none;
				}
			}

			&.large {
				display: none;

				@include respond-to( 768px ) {
					display: block;
				}
			}
		}
		
		.slide-content {
			position: absolute;
			bottom: -100%;
			left: 0;
			right: 0;
			transition: 1000ms bottom ease-in-out;
			background: rgba( white, .8 );
			border-top: 2px solid rgba( $forest, .5 );
			padding: 10px 20px;
			pointer-events: none;
			transition: 400ms all ease-in-out;

			@include respond-to( 480px ) {
				padding: 15px 25px;
			}

			@include respond-to( 768px ) {
				left: -100%;
				bottom: 10%;
				right: 0;
				width: 80%;
				transition: 1000ms left ease-in-out;
				border: 2px solid rgba( $forest, .5 );
				border-left: 0;
				padding: 15px 20px;
			}

			@include respond-to( 1024px ) {
				padding: 20px 30px;
				width: 65%;
			}

			@include respond-to( 1220px ) {
				width: 60%;
			}

			@include respond-to( 1440px ) {
				width: 50%;
			}
		}
		
		h3 {
			@include font-bold;
			padding: 0;
			color: $grey-dark;
			text-transform: uppercase;
			text-shadow: 0 0 20px rgba( black, .2 );

			font-size: 18px;
			line-height: 25px;

			@include respond-to( 480px ) {
				font-size: 22px; 
				line-height: 35px;
			}

			@include respond-to( 768px ) {
				font-size: 35px; 
				line-height: 45px;
			}

			@include respond-to( 1220px ) {
				font-size: 43px; 
				line-height: 55px;
			}
		}
		
		p {
			padding: 0;
			color: $lime;
			padding-top: 5px;
			text-shadow: 0 0 20px rgba( black, .2 );

			font-size: 14px;
			line-height: 22px;

			@include respond-to( 480px ) {
				font-size: 17px; 
				line-height: 24px;
			}

			@include respond-to( 800px ) {
				font-size: 20px; 
				line-height: 30px;
			}
		}

	}
	
	/*
	// OLD NEXT/PREV BUTTONS
	.showcase-nav a {
		position: absolute;
		top: 10%;
		cursor: pointer;
		width: 25px;
		height: 50px;
		text-indent: -300px;
		overflow: hidden;
		opacity: .7;
		transition: 400ms all ease-in-out;

		&:hover {
			opacity: 1;
		}

		&.previous {
			left: 10px;
			background: url(../img/icon-arrow-left.png) right center no-repeat;
			background-size: contain;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&.next {
			right: 10px;
			background: url(../img/icon-arrow-right.png) left center no-repeat;
			background-size: contain;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		@include respond-to( 480px ) {
			width: 50px;
			height: 80px;
		
			&.previous {
				left: 20px;
			}

			&.next {
				right: 20px;
			}
		}

		@include respond-to( 1024px ) {
			&.previous {
				top: 40px;
				left: 30px;
			}

			&.next {
				top: 40px;
				right: 30px;
			}
		}
	}
	*/

	.showcase-nav {
		position: absolute;
		top: 5px;
		left: 0;
		right: 0;
		text-align: center;

		@include respond-to( $bp-m ) {
			top: auto;
			left: auto;
			right: 5%;
			bottom: 10%;
		}

		a {
			display: inline-block;
			color: transparent;
			width: 15px;
			height: 15px;
			text-indent: -100px;
			overflow: hidden;
			background: rgba( white, .6 );
			border-radius: 50%;
			margin: 0 2px;
			border: 2px solid rgba( $forest, .3 );
			cursor: pointer;
			transition: 300ms all ease-in-out;

			&:hover {
				background: rgba( white, .9 );

			}
		}
	}
}


