

.showcase {
	position: relative;
	overflow: hidden;
	background: $grey;
	height: 0;
	transition: height 400ms ease-in-out;
	z-index: 0;
	border-bottom: 10px solid $lime;

	@include respond-to( 768px ) {
		border-bottom: 0;
	}

	.slide {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		opacity: 0;
		transition: 700ms opacity ease-in-out;
		pointer-events: none;

		&.visible {
			opacity: 1;
			z-index: 0;
			pointer-events: auto;

			.slide-content {
				bottom: 0;

				@include respond-to( 768px ) {
					left: 0;
					bottom: 10%;
				}
			}
		}
		
		a {
			display: block;
		}
		
		img {
			width: 100%;
			display: block;

			&.small {
				@include respond-to( 768px ) {
					display: none;
				}
			}

			&.large {
				display: none;

				@include respond-to( 768px ) {
					display: block;
				}
			}
		}
		
		.slide-content {
			position: absolute;
			bottom: -100%;
			left: 0;
			right: 0;
			transition: 1000ms bottom ease-in-out;
			background: rgba( white, .8 );
			border-top: 2px solid rgba( $forest, .5 );
			padding: 10px 20px;
			pointer-events: none;

			@include respond-to( 480px ) {
				padding: 15px 25px;
			}

			@include respond-to( 768px ) {
				left: -100%;
				bottom: 10%;
				right: auto;
				width: auto;
				max-width: 80%;
				transition: 1300ms left ease-in-out;
				border: 2px solid rgba( $forest, .5 );
				border-left: 0;
				padding: 15px 20px;
			}

			@include respond-to( 1024px ) {
				padding: 20px 30px;
				max-width: 65%;
			}

			@include respond-to( 1220px ) {
				max-width: 60%;
			}

			@include respond-to( 1440px ) {
				max-width: 50%;
			}
		}
		
		h3 {
			@include font-bold;
			padding: 0;
			color: $grey-dark;
			text-transform: uppercase;
			text-shadow: 0 0 20px rgba( black, .2 );
			text-align: center;

			font-size: 18px;
			line-height: 25px;

			@include respond-to( 480px ) {
				font-size: 22px; 
				line-height: 35px;
			}

			@include respond-to( 768px ) {
				font-size: 35px; 
				line-height: 45px;
				text-align: left;
			}

			@include respond-to( 1220px ) {
				font-size: 43px; 
				line-height: 55px;
			}
		}
		
		p {
			padding: 0;
			color: $forest;
			padding-top: 5px;
			text-shadow: 0 0 20px rgba( black, .2 );
			text-align: center;

			font-size: 14px;
			line-height: 22px;

			@include respond-to( 480px ) {
				font-size: 17px; 
				line-height: 24px;
			}

			@include respond-to( $bp-m ) {
				text-align: left;
			}

			@include respond-to( 800px ) {
				font-size: 20px; 
				line-height: 30px;
			}
		}

		.learn-more {
			font-size: 1em;
			text-transform: uppercase;
			color: $grey;

			@include respond-to( $bp-m ) {
				text-align: right;
			}
		}

	}

	.showcase-nav {
		position: absolute;
		top: 15px;
		left: 0;
		right: 0;
		text-align: center;

		@include respond-to( $bp-m ) {
			top: auto;
			left: auto;
			right: 5%;
			bottom: 10%;
		}

		a {
			display: inline-block;
			color: transparent;
			width: 15px;
			height: 15px;
			text-indent: -100px;
			overflow: hidden;
			background: rgba( white, .6 );
			border-radius: 50%;
			margin: 0 2px;
			border: 2px solid rgba( $forest, .3 );
			cursor: pointer;
			transition: 300ms all ease-in-out;

			&.current {
				background: rgba( white, .9 );
			}

			&:hover {
				background: rgba( white, .9 );
			}

			@include respond-to( 768px ) {
				height: 20px;
				width: 20px;
				margin: 0 4px;
			}
		}
	}
}


