

.hexagon {
	@include hexagon( 300px, white );
}


.thumb-showcase {
	a:hover {
		text-decoration: none;
		opacity: 0.8;
	}

	.thumb-list {
		padding: 6px 0 0;

		@include respond-to( 500px ) {
			white-space: nowrap;
			margin: 0 40px;
			overflow: hidden;
			transition: text-indent 600ms ease-in-out;

			&.no-nav {
				margin: 0;
			}
		}

		.thumb {
			padding: 6px 10px;
			position: relative;
			text-indent: 0;
			vertical-align: top;
			@include clearfix;

			@include respond-to( 500px ) {
				display: inline-block;
				clear: none;
				margin: 10px 2%;
				width: 46%;
				padding: 10px;
				position: relative;
				text-align: center;
			}

			@include respond-to( 768px ) {
				margin: 10px .5%;
				width: 32.33%;
			}

			@include respond-to( 1024px ) {
				width: 24%;
			}

			@include respond-to( 1220px ) {
				width: 19%;
			}

			.thumb-icon {
				@include hexagon( 50px, white );
				float: left;
				margin-top: 25px;
				margin-right: 10px;
				margin-left: 10px;
				z-index: 1;

				@include respond-to( 500px ) {
					@include hexagon( 175px, white );
					float: none;
					margin-top: 60px;
					margin-left: auto;
					margin-right: auto;
				}
			}
			
			.thumb-text {
				background: white;
				padding: 10px 5px;
				white-space: normal;

				h3 {
					font-size: 22px;
					line-height: 25px;
					padding: 0 0 6px;
				}
				
				p {
					font-size: .9em;
					line-height: 1.3em;
					padding: 0 0 5px;
				}

				&.teal { border: 3px solid $teal; }
				&.navy { border: 3px solid $navy; }
				&.orange { border: 3px solid $orange; }
				&.lime { border: 3px solid $lime; }
				&.forest { border: 3px solid $forest; }
				&.grey-light { border: 3px solid $grey; }
				&.grey-dark { border: 3px solid $grey-dark; }

				@include respond-to( 500px ) {
					margin-top: -40px;
					position: relative;
					z-index: 100;
					min-height: 100px;
				}
			}

			&:after {
				clear: both;
			}
		}
	}


	button.thumb-nav {
		display: none;
	}

	@include respond-to( 500px ) {
		margin: 0 20px;
		position: relative;

		.thumb-list {
			white-space: nowrap;
			margin: 0 40px;
			overflow: hidden;
			transition: text-indent 600ms ease-in-out;

			&.no-nav {
				margin: 0;
			}
		}

		button.thumb-nav {
			display: block;
			background: white;
			position: absolute;
			bottom: 0;
			top: 0;
			width: 40px;
			text-indent: -500px;
			overflow: hidden;
			border: 0;
			cursor: pointer;

			&:disabled {
				opacity: .5;
				cursor: default;
			}

			&.unnecessary {
				display: none;
			}
			
			&:focus {
				outline: 0;
			}

			&.previous {
				left: 0;
				background: url(../img/icon-arrow-left.png) center center no-repeat;
			}

			&.next {
				right: 0;
				background: url(../img/icon-arrow-right.png) center center no-repeat;
			}
		}
	}
}

