

.large-title {
	padding: 30px 20px;

	@include respond-to( $bp-s ) { 
		padding: 45px 20px 35px; 
	}

	@include respond-to( $bp-m ) { 
		padding: 85px 20px 75px;
		margin-bottom: 10px;
	}

	.wrap {
		position: relative;
	}

	.large-title-icon {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 25px;

		@include respond-to( $bp-s ) {
			width: 40px;
		}

		@include respond-to( $bp-m ) {
			width: 55px;
		}

		@include respond-to( $bp-l ) {
			width: 70px;
		}
	}

	.large-title-text {
		h1 {
			@include font;
			color: white;
			line-height: 1.1em;
			font-size: 20px;
			border-bottom: 3px solid white;
			text-transform: uppercase;
			margin-bottom: -10px;
			padding-right: 25px;

			@include respond-to( $bp-s ) {
				padding-left: 10px;
				padding-right: 50px;
			}

			@include respond-to( $bp-m ) {
				font-size: 35px;
				padding-right: 65px;
			}

			@include respond-to( $bp-l ) {
				font-size: 45px;
				padding-left: 30px;
				padding-right: 80px;
			}
		}
	}
}

