

// set colors
$lime: #7DB241;
$forest: #007934;
$blue: #295cb0;
$red: #b91313;
$grey-light: #e1e1e1;
$grey: #939598;
$grey-dark: darken( $grey, 30% );

// link color
$link-color: $forest;


// breakpoints
$bp-s: 600px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1220px;


// text and background colors
@import "colors";


// mixin library
@import "mixins";

// font import and mixins
@import "fonts";

// css reset
@import "reset";

// base text and element styles
@import "base";


// header styles
@import "header";


// general styles
@import "title";
@import "showcase";
@import "thumbs";
@import "content";
@import "boxes";
@import "parallax";
@import "gravity";
@import "events";
@import "notification";


// sidebar styles
@import "sidebar";


// partner list
@import "partners";


// footer styles
@import "footer";


// include magnific popup styles
@import "magnific";

