

// set colors
$sky: #A7DAE9;
$teal: #15B0BF;
$navy: #2C5871;
$orange: #F99B1F;
$yellow: #D3D627;
$green: #017A40;
$lime: #7DB241;
$forest: #007940;
$grey: #939598;
$grey-dark: darken( $grey, 30% );

// link color
$link-color: $teal;

// text and background colors
@import "colors";


// mixin library
@import "mixins";

// font import and mixins
@import "fonts";

// css reset
@import "reset";

// base text and element styles
@import "base";


// header styles
@import "header";


// general styles
@import "title";
@import "showcase";
@import "thumbs";
@import "content";
@import "accordion";


// sidebar styles
@import "sidebar";


// footer styles
@import "footer";


// home-specific styles
@import "home";


// include magnific popup styles
@import "magnific";

